.categoryCard {
  flex-basis: 28%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  border-radius: 8px;
}
.categoryImage {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.categoryImage img {
  width: 70%;
  /* border: 1px solid black; */
}

.categoryButton {
  background-color: var(--primary-blue);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}

.categoryButton:hover {
}

.categoryHeading {
  font-size: 1.8rem;
  margin-bottom: 4px;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}

.categoryDescription {
  color: var(--dark-gray);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.categoryNumber {
  font-size: 1.6rem;
  margin-bottom: 8px;
  color: var(--bestseller-red);
  font-weight: 500;
  text-align: center;
}
