.categoryNav {
  display: flex;
  gap: 4rem;
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.2rem 2.8rem;
  /* background-color: lightgray; */
}

.categoryNav li {
  list-style: none;
}

.categoryNav li a {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}
