.productCard {
  /* border: 1px solid var(--light-gray); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 4px;
  flex-basis: 20%;
  padding: 2.4rem 1.6rem;
  position: relative;
}

.productCard p {
  font-size: 1.6rem;
}

.tags {
  color: var(--bestseller-red);
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 500;
}

.productImage {
  margin-bottom: 1.6rem;
}

.productImage img {
  width: 100%;
  height: 200px;
}

.productCard h3 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.data {
  text-align: center;
  margin-bottom: 0.8rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* Primary Button */
.primaryButton {
  background-color: var(--primary-blue);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 12px;
  /* side padding will not make a difference */
  width: 100%;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: var(--dark-blue);
}

.secondaryButton {
  background-color: white;
  border: 2px solid white;
  color: var(--primary-blue);
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 12px;
  width: 100%;
  cursor: pointer;
}

.secondaryButton:hover {
  border: 2px solid var(--primary-blue);
  background-color: #e7f5ff;
}

.wishlist {
  position: absolute;
  top: 15px;
  right: 15px;
}

.wishlist button {
  background-color: transparent;
  border: none;
}
