* {
  margin: 0;
  padding: 0;
}

:root {
  /* PRIMARY BLUE */
  --primary-blue: #339af0;
  --light-blue: #d0ebff;
  --dark-blue: #1c7ed6;

  /* SECONDARY GREEN */

  /* GRAYS */
  --text-black: #212529;
  --light-gray: #adb5bd;
  --dark-gray: #495057;
  --text-gray: #868e96;

  /* REDS */
  --bestseller-red: #d6336c;
  --error-red: #c92a2a;
  --error-light-red: #ffe3e3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Rubik", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

/** These are the containers */

.container-140 {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 28px;
}

.container-120 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 28px;
  border: 1px solid black;
}

.container-100 {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem 2.8rem;
  /* border: 1px solid black; */
}

.container-60 {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 28px;
}

.container-80 {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 28px;
  border: 1px solid black;
}

.container-40 {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 28px;
  border: 1px solid black;
}

/* Page Heading */
.page-heading {
  font-size: 2.4rem;
  color: var(--dark-gray);
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 2rem;
}

.category-heading {
}

.container-change {
  max-width: 140rem;
  border: 1px solid black;

  /* border: 1px solid black; */
}
