* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-blue: #339af0;
  --bestseller-red: #d6336c;
  --text-black: #212529;
  --light-gray: #adb5bd;
  --dark-gray: #868e96;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

.container-140 {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 28px;
}

.container-100 {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 28px;
}

.container-80 {
}

.container-40 {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 28px;
  border: 1px solid black;
}
