.cartContainer {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding: 1.2rem;
}

.left {
  /* border: 1px solid black; */
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.right {
  border: 1px solid black;
}
